body {
  background-color:whitesmoke;
  color:yellowgreen;
  margin:0;
  box-sizing: border-box;
  font-family: "futura", sans-serif;
}
header {
  background-color:yellowgreen;
  color:whitesmoke;
  padding:30px;
}
/*-------NavBar CSS begins-------*/
nav {

}
nav ul { /*FLEX PARENT*/
  padding-left:0px;
  display:flex;
  justify-content:space-around;
  margin:0px;
}
nav li {/*FLEX CHILDERN*/
  list-style-type:none;
  display:inline;
  flex:1;
  text-align:center;
  padding:20px;
  border-radius:0px 0px 10px 10px;
  /* border:1px solid gold; */
  transition: 0.5s;
}
nav li:hover{
  background-color:yellowgreen;
  color:Chartreuse;
}
nav a {
  color:inherit;
  text-decoration: none;
}
nav a:active {
  color:lawngreen;
}
section {
  padding:80px;
}
.card {
  margin:20px 0px;
  border:2px solid yellowgreen;
  padding:50px;
}
#header-svg  {
  fill:currentColor;
  color:steelblue;
  margin-right:25px;
  width:25%;
  transition: 1s ease;
}
#header-svg:hover {
  color:Chartreuse;
}
