body{
  padding:50px;
  font-family:"Helvetica";
}
#img1 {
  width:30%;
  float:right;
  margin:50px;
  border: 5px solid red;
  padding:50px;
}
#img2{
  width:33%;
}
.red-text{
  color:red;
  padding:50px;
  border: 5px groove red;
}
.padding:50px;{
  padding:50px;
}
