@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Orbitron:wght@400;500;600;700;800;900&display=swap');


body {
  margin:0px;
  font-family: "Aboreto", serif;
  background-position: 0px;
  background-size: 600px;
}
header {
display:flex;
justify-content: center;
align-items: center;
background: whitesmoke;
padding:25px;
}
nav {
  padding:20px;
}
nav ul {
  padding-left:0;
  display:flex;
  justify-content: space-between;
  width:100%;
  margin:auto;
}
nav li {
  list-style-type: none;
  flex:1;
  font-size: 12px;
  padding:1px;
}
nav a {
  color:grey;
  text-decoration:none;
}
.logo {
  width:10%;
  margin-right:10px;
}
/* .mh100 {
min-height:155px;
} */
main {
  background-image: url("../assets/background.jpg");
  height:500px;
  background-position: 0px;
  background-size: cover;
}
}